<%- include("includes/header.ejs") %>
<main class="mainContent">
  <div class="container">
    <%- include("includes/flash") %>
    <div class="contentWrapper contentWrapper--narrow">
      <div class="contentWrapper__welcome--noresults">
        <% if (posts.length) { %>
        <div class="text-center">
          <h2>
            Hello
            <span class="strong"><%= user.username %></span>, your latest
            posts:
          </h2>
        </div>
        <div class="profile__tabContent">
          <ul class="profile__tabContent-ul">
            <% posts.map((post) => { %>
            <li>
              <a href="/post/<%= post._id %>">
                <img
                  class="avatar-tiny"
                  src="<%=post.author.avatar %>"
                />
                <strong><%= post.title %></strong
                ><span>&nbsp;
                by <%= post.author.username %><span
                  >&nbsp; on&nbsp;<%=
                  post.createdDate.getMonth() + 1 %>/<%=
                  post.createdDate.getDate() %>/<%=
                  post.createdDate.getFullYear() %></span
                >
              </a>
            </li>
            <% }) %>
          </ul>
        </div>
        <% } else { %>
        <div class="text-center">
          <h2>
            Hello
            <span class="strong"><%= user.username %></span
            >, your feed is empty.
          </h2>
          <p class="lead text-muted">
            Your feed displays the latest posts from the
            people you follow. If you don&rsquo;t have any
            friends to follow that&rsquo;s okay; you can use
            the &ldquo;Search&rdquo; feature in the top menu
            bar to find content written by people with
            similar interests and then follow them.
          </p>
        </div>
        <% } %>
      </div>
    </div>
  </div>
</main>
<%- include("includes/footer.ejs") %>
