<%- include("includes/header.ejs") %>
<main class="mainContent">
  <div class="container">
    <%- include("includes/flash") %>
    <div class="contentWrapper contentWrapper--extranarrow">
      <div class="profile">
        <div class="profile__header">
          <img src="<%= profileAvatar %>" class="avatar-tiny" alt="username" />
          <h2><%= profileUsername %></h2>
          <% if (user && !isVisitorsProfile) { if (isFollowing) { %>
          <form action="/removeFollow/<%= profileUsername %>" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <button class="btn btn-danger btn-small">
              Stop following
              <i class="fas fa-user-times"></i>
            </button>
          </form>
          <% } else { %>
          <form action="/addFollow/<%= profileUsername %>" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <button class="btn btn-primary btn-small">
              Follow <i class="fas fa-user-plus"></i>
            </button>
          </form>
          <% } } %>
        </div>

        <%- include("includes/shared-profile.ejs") %>
        <div class="profile__tabContent">
          <ul class="profile__tabContent-ul">
            <% followers.map((follower) => { %>
            <li>
              <a href="/profile/<%= follower.username %>">
                <img class="avatar-tiny" src="<%=follower.avatar %>" />
                <strong><%= follower.username %></strong>
              </a>
            </li>
            <% }) %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</main>
<%- include("includes/footer.ejs") %>
